@import
url('https://fonts.googleapis.com/css?family=Poppins');

*{
	margin:0;
	border:0;
	box-sizing:border-box;
}

body{
	background-image: linear-gradient(120deg, #f6d365, #fda085);
	color:white;
	font-family:"Poppins", sans-serif;
	min-height:100vh;
}

header{
	font-size:30px;
}

header,form{
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input, form button{
	font-size: 2rem;
	padding: 0.5px;
	color: black;
	background: white;
	border: none;
}

form button{
	color: #f6d365;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

form button:hover{
	background: #f6d365;
	color: white;
}

.Todo-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.Todo-list{
	min-width: 30%;
	list-style: none;
}
.todo{
	margin: 0.5rem;
	background: white;
	color:black;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li{
	flex: 1;
}

.trash-btn, .complete-btn{
	background: #f6d365 ;
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}


.trash-btn{
	background: #82E0AA;
}

.todo-item{
	padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
	pointer-events: none;
}

.Completed{
	text-decoration: line-through;
	opacity: 0.5;
}
